<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="index.js" defer></script>
    <script src="commands.js" defer></script>
</head>
<body>
    <div id="app">
        <p>{{ terminal }}</p>
        <div v-if="!disabled" id="command">
            <p style="display: inline-block; width: 183.5px;">user@Portfolio:~$</p>
            <input type="text" name="command" v-model="command" @keyup.enter.prevent="executeCommand" autocomplete="off"/>
        </div>
        <div id="focus"></div>
    </div>
</body>
</html>
