body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 17px;
}

#app {
    margin: 20px;
    width: calc(100% - 40px);
    height: max-content;
}

p {
    white-space: pre-line;
    margin: 0px;
    overflow-wrap: anywhere;
}

input {
    outline: none;
    border: none;
    background-color: black;
    color: green;
    height: 19px;
    padding: 0px;
    width: calc( 100% - 183.5px );

    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 17px;
}
