body {
    padding: 20px;
    margin: 0px;
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 17px;
}

#app {
    width: 100%;
    height: calc(100vh - 40px);
}

p {
    width: 100%;
    white-space: pre-line;
    margin: 0px;
}

input {
    outline: none;
    border: none;
    background-color: black;
    color: green;
    height: 19px;
    padding: 0px;
    width: calc( 100% - 183.5px );

    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 17px;
}
